.packages
  padding: 40px 0 70px 0
  color: $light
  &__title
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
    margin-bottom: 65px
    color: $text-color
  &__subtitle
    font-weight: bold
    font-size: 18px
    line-height: 23px
    margin-bottom: 23px
    &_first
      margin-bottom: 27px
  &-item
    display: grid
    grid-template-rows: minmax(500px, auto) minmax(500px, auto)
    grid-template-columns: 1fr 1fr 1fr
    grid-template-areas: "first first second" "third fourth fifth"
    justify-content: center
    grid-gap: 30px
    &__rating
      display: flex
      width: 8px
      height: 8px
      margin-bottom: 4px      
    &__stars
      margin-right: 2px
    &__word
      font-weight: normal
      font-size: 14px
      line-height: 160.6%
      margin-bottom: 34px
      overflow-y: auto
      max-height: 158px
    &__offer
      position: absolute
      left: 0
      top: 26px
      z-index: 2
      background-color: $primary
      padding: 4px 9px
      font-weight: 600
      font-size: 8px
      line-height: 10px
      border-radius: 0 4px 4px 0
      &_first
        padding: 8px 21px 7px 11px
        font-weight: 600
        font-size: 12px
        line-height: 15px
    &__about
      padding: 46px 21px 30px 44px
      flex-grow: 1
      max-width: 365px
      min-height: 500px
      background-color: $dark
    &__info
      position: relative
      padding: 30px 21px 30px 32px
      min-height: 250px
      border-radius: 0 0 8px 8px
      background-color: $dark
      font-weight: normal
      font-size: 12px
      line-height: 15px
      &_first        
        min-height: 150px
        padding-bottom: 0
        padding-top: 12px
        padding-left: 2px
    &__room
      margin-bottom: 24px
      &_first 
        margin-bottom: 38px
    &__text
      margin-bottom: 8px
      font-weight: normal
      font-size: 12px
      line-height: 15px
    &__icon
      display: inline-block
      margin-right: 11px
    &__sale
      display: block
      font-weight: normal
      font-size: 14px
      line-height: 18px
      text-decoration: line-through
      margin-bottom: 5px
    &__pricetag
      display: block
      font-weight: bold
      font-size: 24px
      line-height: 30px
    &__price
      max-width: 160px
    &__button
      position: absolute
      padding: 11px 25px 10px 25px
      background-color: $primary
      min-height: 40px
      max-width: 120px
      font-weight: 600
      font-size: 14px
      line-height: 19px
      right: 21px
      bottom: 25px
      border: none
      outline: none
      border-radius: 4px
      color: $light
      cursor: pointer
      &_first
        bottom: -5px
        right: 0
    &__photo
      flex-grow: 1
      position: relative
      max-width: 350px
      max-height: 250px
      &_first
        min-height: 100%
        max-width: 366px
    &__img
      width: 100%
      height: 250px
      //height: 100%
      object-fit: cover
      &_first
        height: 100%      
    &__card
      display: flex
      flex-direction: column
      min-height: 500px
      border-radius: 8px
      overflow: hidden
      &_first
        display: flex
        flex-direction: row
        grid-area: first        
      &_second
        grid-area: second        
      &_third
        grid-area: third        
      &_fourth
        grid-area: fourth 
      &_fifth
        grid-area: fifth 
